torch>=2.8.0
torchaudio>=2.8.0
transformers>=4.57.1
vllm>=0.11.0
bitsandbytes>=0.46.0
accelerate>=1.10.0
numpy>=2.2.6
scipy>=1.16.3
numba>=0.61.2
fastapi>=0.121.0
uvicorn>=0.38.0
pydantic>=2.12.3
hf-hub>=1.1.2
whisper_normalizer>=0.1.12
pydub>=0.25.1
sounddevice>=0.5.3
soundfile>=0.13.1
resampy>=0.4.3
librosa>=0.11.0
num2words>=0.5.14
inflect>=7.5.0
python-dotenv>=1.2.1
requests>=2.32.5
tqdm>=4.67.1
loguru>=0.7.3